<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>IndexPageView</servlet-name>
  	<display-name>IndexPageView</display-name>
  	<description></description>
  	<servlet-class>View.IndexPageView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SourceCodeView</servlet-name>
  	<display-name>SourceCodeView</display-name>
  	<description></description>
  	<servlet-class>View.SourceCodeView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAboutUs</servlet-name>
  	<display-name>ShowAboutUs</display-name>
  	<description></description>
  	<servlet-class>View.ShowAboutUs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowRegisterPage</servlet-name>
  	<display-name>ShowRegisterPage</display-name>
  	<description></description>
  	<servlet-class>View.ShowRegisterPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterNewUser</servlet-name>
  	<display-name>RegisterNewUser</display-name>
  	<description></description>
  	<servlet-class>Controller.RegisterNewUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowLoginPage</servlet-name>
  	<display-name>ShowLoginPage</display-name>
  	<description></description>
  	<servlet-class>View.ShowLoginPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginTOTN</servlet-name>
  	<display-name>LoginTOTN</display-name>
  	<description></description>
  	<servlet-class>Controller.LoginTOTN</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowUserWindow</servlet-name>
  	<display-name>ShowUserWindow</display-name>
  	<description></description>
  	<servlet-class>Controller.ShowUserWindow</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutTOTN</servlet-name>
  	<display-name>LogoutTOTN</display-name>
  	<description></description>
  	<servlet-class>Controller.LogoutTOTN</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MerkleSpreadView</servlet-name>
  	<display-name>MerkleSpreadView</display-name>
  	<description></description>
  	<servlet-class>View.MerkleSpreadView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SourceCodeImplementation</servlet-name>
  	<display-name>SourceCodeImplementation</display-name>
  	<description></description>
  	<servlet-class>Controller.SourceCodeImplementation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SourceCodeThing</servlet-name>
  	<display-name>SourceCodeThing</display-name>
  	<description></description>
  	<servlet-class>View.SourceCodeThing</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTopic</servlet-name>
  	<display-name>AddTopic</display-name>
  	<description></description>
  	<servlet-class>Controller.AddTopic</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssociateSomeone</servlet-name>
  	<display-name>AssociateSomeone</display-name>
  	<description></description>
  	<servlet-class>Controller.AssociateSomeone</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SourceCodeReview</servlet-name>
  	<display-name>SourceCodeReview</display-name>
  	<description></description>
  	<servlet-class>Controller.SourceCodeReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MerkleTreeNavbar</servlet-name>
  	<display-name>MerkleTreeNavbar</display-name>
  	<description></description>
  	<servlet-class>Controller.MerkleTreeNavbar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WomenSafetyDispatcher</servlet-name>
  	<display-name>WomenSafetyDispatcher</display-name>
  	<description></description>
  	<servlet-class>View.WomenSafetyDispatcher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticlesView</servlet-name>
  	<display-name>ArticlesView</display-name>
  	<description></description>
  	<servlet-class>View.ArticlesView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OtherCodes</servlet-name>
  	<display-name>OtherCodes</display-name>
  	<description></description>
  	<servlet-class>View.OtherCodes</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexPageView</servlet-name>
  	<url-pattern>/IndexPageView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SourceCodeView</servlet-name>
  	<url-pattern>/SourceCodeView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAboutUs</servlet-name>
  	<url-pattern>/ShowAboutUs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowRegisterPage</servlet-name>
  	<url-pattern>/ShowRegisterPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterNewUser</servlet-name>
  	<url-pattern>/RegisterNewUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowLoginPage</servlet-name>
  	<url-pattern>/ShowLoginPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginTOTN</servlet-name>
  	<url-pattern>/LoginTOTN</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowUserWindow</servlet-name>
  	<url-pattern>/ShowUserWindow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutTOTN</servlet-name>
  	<url-pattern>/LogoutTOTN</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MerkleSpreadView</servlet-name>
  	<url-pattern>/MerkleSpreadView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SourceCodeImplementation</servlet-name>
  	<url-pattern>/SourceCodeImplementation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SourceCodeThing</servlet-name>
  	<url-pattern>/SourceCodeThing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTopic</servlet-name>
  	<url-pattern>/AddTopic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssociateSomeone</servlet-name>
  	<url-pattern>/AssociateSomeone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SourceCodeReview</servlet-name>
  	<url-pattern>/SourceCodeReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MerkleTreeNavbar</servlet-name>
  	<url-pattern>/MerkleTreeNavbar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WomenSafetyDispatcher</servlet-name>
  	<url-pattern>/WomenSafetyDispatcher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticlesView</servlet-name>
  	<url-pattern>/ArticlesView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OtherCodes</servlet-name>
  	<url-pattern>/OtherCodes</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorPage.jsp</location>
  </error-page>
</web-app>
